<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>EFO Web Application</display-name>

    <servlet>
        <description>ArrayExpress Application Status Servlet</description>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>uk.ac.ebi.efo.status.StatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/servlets/status</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>StatusFilter</filter-name>
        <filter-class>uk.ac.ebi.efo.status.StatusFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>StatusFilter</filter-name>
        <url-pattern>/servlets/status</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>


